youtube-channel-tracking_v2.json
{
    "name": "YouTube Tech Trends - Channel Tracking (Free AI v2)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 18 * * *"
                        }
                    ]
                }
            },
            "id": "schedule-trigger-channel",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                250,
                300
            ],
            "notes": "매일 오후 6시에 실행"
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "channels",
                            "value": "={{ [\n  {id: 'UCUpJs89fSBXNolQGOYKn0YQ', name: 'Traversy Media', tags: ['Web Dev', 'JavaScript']},\n  {id: 'UC8butISFwT-Wl7EV0hUK0BQ', name: 'freeCodeCamp', tags: ['Programming', 'Tutorial']},\n  {id: 'UCW5YeuERMmlnqo4oq8vwUpg', name: 'Net Ninja', tags: ['Web Dev', 'Frontend']},\n  {id: 'UCsBjURrPoezykLs9EqgamOA', name: 'Fireship', tags: ['Tech News', 'Quick Tips']}\n] }}"
                        }
                    ],
                    "number": [
                        {
                            "name": "daysToCheck",
                            "value": 3
                        },
                        {
                            "name": "maxVideosPerChannel",
                            "value": 10
                        }
                    ]
                },
                "options": {}
            },
            "id": "channel-config",
            "name": "Channel Configuration",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.3,
            "position": [
                450,
                300
            ],
            "notes": "추적할 채널 목록을 여기서 관리하세요.\nYouTube 채널 ID는 채널 페이지 URL에서 확인할 수 있습니다.\n예: youtube.com/channel/UCUpJs89fSBXNolQGOYKn0YQ"
        },
        {
            "parameters": {
                "fieldToSplitOut": "channels",
                "options": {}
            },
            "id": "split-channels",
            "name": "Split Channels",
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "operation": "channelVideos",
                "channelId": "={{ $json.channels.id }}",
                "returnAll": false,
                "maxResults": "={{ $node['Channel Configuration'].json.maxVideosPerChannel }}",
                "options": {
                    "publishedAfter": "={{ $now.minus({ days: $node['Channel Configuration'].json.daysToCheck }).toISO() }}",
                    "order": "date"
                }
            },
            "id": "get-channel-videos",
            "name": "Get Channel Videos",
            "type": "n8n-nodes-base.youTube",
            "typeVersion": 1,
            "position": [
                850,
                300
            ],
            "credentials": {
                "youTubeOAuth2Api": {
                    "id": "YOUR_YOUTUBE_CREDENTIAL_ID",
                    "name": "YouTube OAuth2 account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// 채널 정보와 동영상 데이터 결합\nconst items = $input.all();\nconst channelInfo = items[0].json.channels;\n\nreturn items.map(item => {\n  const videoId = item.json.id?.videoId || item.json.id;\n  \n  return {\n    json: {\n      videoId: videoId,\n      title: item.json.snippet?.title || '',\n      description: item.json.snippet?.description || '',\n      channelTitle: channelInfo.name,\n      channelId: channelInfo.id,\n      channelTags: channelInfo.tags,\n      publishedAt: item.json.snippet?.publishedAt || '',\n      thumbnails: item.json.snippet?.thumbnails || {},\n      videoUrl: `https://www.youtube.com/watch?v=${videoId}`\n    }\n  };\n});"
            },
            "id": "format-channel-data",
            "name": "Format Channel Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1050,
                300
            ]
        },
        {
            "parameters": {
                "resource": "database",
                "operation": "getAll",
                "databaseId": "YOUR_NOTION_DATABASE_ID",
                "returnAll": false,
                "limit": 100,
                "options": {
                    "filter": {
                        "property": "URL",
                        "type": "url",
                        "url": {
                            "equals": "={{ $json.videoUrl }}"
                        }
                    }
                }
            },
            "id": "check-notion-channel",
            "name": "Check Notion for Duplicates",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2.1,
            "position": [
                1250,
                300
            ],
            "credentials": {
                "notionApi": {
                    "id": "YOUR_NOTION_CREDENTIAL_ID",
                    "name": "Notion account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "filter-new",
                            "leftValue": "={{ $json.object }}",
                            "rightValue": "list",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        },
                        {
                            "id": "filter-empty",
                            "leftValue": "={{ $json.results.length }}",
                            "rightValue": "0",
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "filter-new-channel",
            "name": "Filter New Videos Only",
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2,
            "position": [
                1450,
                300
            ]
        },
        {
            "parameters": {
                "operation": "getTranscript",
                "videoId": "={{ $json.videoId }}",
                "options": {
                    "languages": [
                        "ko",
                        "en"
                    ]
                }
            },
            "id": "get-transcript-channel",
            "name": "Get YouTube Transcript",
            "type": "@n8n/n8n-nodes-langchain.youtubeTranscript",
            "typeVersion": 1,
            "position": [
                1650,
                300
            ],
            "continueOnFail": true,
            "notes": "자막을 가져올 수 없어도 계속 진행"
        },
        {
            "parameters": {
                "jsCode": "// 자막 텍스트 결합\nconst item = $input.first().json;\n\nlet transcriptText = '';\nif (item.transcript && Array.isArray(item.transcript)) {\n  transcriptText = item.transcript.map(t => t.text).join(' ');\n} else if (item.error) {\n  transcriptText = 'NO_TRANSCRIPT_AVAILABLE';\n}\n\n// 토큰 제한: 최대 15000자 (Groq/DeepSeek Context는 여유로움)\nif (transcriptText.length > 15000) {\n  transcriptText = transcriptText.substring(0, 15000) + '...';\n}\n\nreturn {\n  json: {\n    ...item,\n    transcriptText: transcriptText,\n    hasTranscript: transcriptText !== 'NO_TRANSCRIPT_AVAILABLE'\n  }\n};"
            },
            "id": "prepare-transcript-channel",
            "name": "Prepare Transcript",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1850,
                300
            ]
        },
        {
            "parameters": {},
            "id": "try-catch",
            "name": "Try_Fallback",
            "type": "n8n-nodes-base.try",
            "typeVersion": 1,
            "position": [
                2050,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.groq.com/openai/v1/chat/completions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "llama-3.3-70b-versatile"
                        },
                        {
                            "name": "messages",
                            "value": "={{ [\n  {\n    \"role\": \"system\",\n    \"content\": \"당신은 기술 콘텐츠 분석 전문가입니다. 반드시 한국어로 요약해야 합니다.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": `아래 유튜브 동영상을 분석해주세요:\\n\\n제목: ${$json.title}\\n채널: ${$json.channelTitle}\\n설명: ${$json.description}\\n${$json.hasTranscript ? '자막: ' + $json.transcriptText : ''}\\n\\n다음 형식으로 한국어로 요약해주세요:\\n\\n1. 핵심 내용 (3-5문장)\\n2. 주요 기술/키워드\\n3. 난이도 (초급/중급/고급)\\n4. 실무 적용도 (상/중/하)\\n5. 추천 대상\\n\\nIMPORTANT: Provide the output strictly in Korean.`\n  }\n] }}"
                        },
                        {
                            "name": "temperature",
                            "value": "0.6"
                        }
                    ]
                },
                "options": {}
            },
            "id": "groq-api",
            "name": "Primary_Groq",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                2250,
                200
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "YOUR_GROQ_CREDENTIAL_ID",
                    "name": "Groq API Key"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "deepseek/deepseek-r1:free"
                        },
                        {
                            "name": "messages",
                            "value": "={{ [\n  {\n    \"role\": \"system\",\n    \"content\": \"당신은 기술 콘텐츠 분석 전문가입니다. 반드시 한국어로 요약해야 합니다.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": `아래 유튜브 동영상을 분석해주세요:\\n\\n제목: ${$node['Prepare Transcript'].json.title}\\n채널: ${$node['Prepare Transcript'].json.channelTitle}\\n설명: ${$node['Prepare Transcript'].json.description}\\n${$node['Prepare Transcript'].json.hasTranscript ? '자막: ' + $node['Prepare Transcript'].json.transcriptText : ''}\\n\\n다음 형식으로 한국어로 요약해주세요:\\n\\n1. 핵심 내용 (3-5문장)\\n2. 주요 기술/키워드\\n3. 난이도 (초급/중급/고급)\\n4. 실무 적용도 (상/중/하)\\n5. 추천 대상\\n\\nIMPORTANT: Provide the output strictly in Korean.`\n  }\n] }}"
                        }
                    ]
                },
                "options": {
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "HTTP-Referer",
                                "value": "https://n8n.io"
                            }
                        ]
                    }
                }
            },
            "id": "openrouter-api",
            "name": "Fallback_OpenRouter",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                2250,
                450
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "YOUR_OPENROUTER_CREDENTIAL_ID",
                    "name": "OpenRouter API Key"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// 생성된 AI 요약을 정리하여 Notion 포맷으로 준비\n// Groq 또는 OpenRouter 둘 중 하나에서 나온 결과를 사용\n\nconst items = $input.all();\nconst item = items[0].json;\n\n// HTTP Request 결과는 보통 choices[0].message.content 에 있음\nlet aiSummary = '';\n\nif (item.choices && item.choices[0]?.message?.content) {\n  aiSummary = item.choices[0].message.content;\n} else if (item.content) {\n  aiSummary = item.content;\n} else {\n  aiSummary = 'AI Summary Failed';\n}\n\n// 원본 데이터 가져오기 (마지막 노드가 포맷을 바꾸므로 Prepare Transcript 노드 데이터 참조 필요할 수 있음)\n// 하지만 여기선 Flow가 끊기지 않게 연결됨.\n// 단순화를 위해 상위 노드 데이터를 $node로 참조\n\nconst originalData = $node['Prepare Transcript'].json;\n\nreturn {\n  json: {\n    title: originalData.title,\n    url: originalData.videoUrl,\n    channelName: originalData.channelTitle,\n    channelId: originalData.channelId,\n    publishedDate: originalData.publishedAt,\n    collectedDate: new Date().toISOString(),\n    channelTags: originalData.channelTags,\n    aiSummary: aiSummary,\n    description: originalData.description,\n    thumbnailUrl: originalData.thumbnails?.high?.url || originalData.thumbnails?.default?.url || '',\n    hasTranscript: originalData.hasTranscript,\n    status: '미확인',\n    source: 'channel_tracking'\n  }\n};"
            },
            "id": "format-notion-channel",
            "name": "Format for Notion",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2550,
                300
            ]
        },
        {
            "parameters": {
                "resource": "databasePage",
                "operation": "create",
                "databaseId": "YOUR_NOTION_DATABASE_ID",
                "properties": {
                    "property": [
                        {
                            "key": "제목",
                            "type": "title",
                            "title": "={{ $json.title }}"
                        },
                        {
                            "key": "URL",
                            "type": "url",
                            "url": "={{ $json.url }}"
                        },
                        {
                            "key": "채널",
                            "type": "richText",
                            "richText": "={{ $json.channelName }}"
                        },
                        {
                            "key": "등록일",
                            "type": "date",
                            "date": "={{ $json.publishedDate }}"
                        },
                        {
                            "key": "수집일",
                            "type": "date",
                            "date": "={{ $json.collectedDate }}"
                        },
                        {
                            "key": "기술태그",
                            "type": "multiSelect",
                            "multiSelect": "={{ $json.channelTags }}"
                        },
                        {
                            "key": "AI요약",
                            "type": "richText",
                            "richText": "={{ $json.aiSummary }}"
                        },
                        {
                            "key": "상태",
                            "type": "select",
                            "select": "={{ $json.status }}"
                        },
                        {
                            "key": "자막여부",
                            "type": "checkbox",
                            "checkbox": "={{ $json.hasTranscript }}"
                        },
                        {
                            "key": "수집방식",
                            "type": "select",
                            "select": "채널추적"
                        }
                    ]
                },
                "options": {
                    "icon": {
                        "type": "emoji",
                        "emoji": "📺"
                    }
                }
            },
            "id": "create-notion-channel",
            "name": "Create Notion Page",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2.1,
            "position": [
                2750,
                300
            ],
            "credentials": {
                "notionApi": {
                    "id": "YOUR_NOTION_CREDENTIAL_ID",
                    "name": "Notion account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// 실행 결과 통계\nconst items = $input.all();\n\nconst channelStats = {};\nitems.forEach(item => {\n  const channel = item.json.properties?.['채널']?.rich_text?.[0]?.text?.content || 'Unknown';\n  channelStats[channel] = (channelStats[channel] || 0) + 1;\n});\n\nconst stats = {\n  totalProcessed: items.length,\n  successCount: items.filter(i => i.json.id).length,\n  failCount: items.filter(i => !i.json.id).length,\n  channelBreakdown: channelStats,\n  timestamp: new Date().toISOString()\n};\n\nreturn { json: stats };"
            },
            "id": "stats-channel",
            "name": "Generate Statistics",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2950,
                300
            ]
        },
        {
            "parameters": {
                "operation": "sendMessage",
                "channel": "#tech-trends",
                "text": "=📺 YouTube 채널 추적 완료! (Free AI)\n\n✅ 처리된 동영상: {{ $json.totalProcessed }}개\n✅ Notion 저장 성공: {{ $json.successCount }}개\n❌ 실패: {{ $json.failCount }}개\n\n📊 채널별 수집 현황:\n{{ Object.entries($json.channelBreakdown).map(([ch, cnt]) => `• ${ch}: ${cnt}개`).join('\\n') }}\n\n⏰ 수집 시각: {{ $json.timestamp }}",
                "otherOptions": {}
            },
            "id": "slack-channel",
            "name": "Slack Notification",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.1,
            "position": [
                3150,
                300
            ],
            "credentials": {
                "slackApi": {
                    "id": "YOUR_SLACK_CREDENTIAL_ID",
                    "name": "Slack account"
                }
            },
            "disabled": true,
            "notes": "선택사항: Slack 알림"
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Channel Configuration",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Channel Configuration": {
            "main": [
                [
                    {
                        "node": "Split Channels",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Channels": {
            "main": [
                [
                    {
                        "node": "Get Channel Videos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Channel Videos": {
            "main": [
                [
                    {
                        "node": "Format Channel Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Channel Data": {
            "main": [
                [
                    {
                        "node": "Check Notion for Duplicates",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Notion for Duplicates": {
            "main": [
                [
                    {
                        "node": "Filter New Videos Only",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter New Videos Only": {
            "main": [
                [
                    {
                        "node": "Get YouTube Transcript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get YouTube Transcript": {
            "main": [
                [
                    {
                        "node": "Prepare Transcript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Transcript": {
            "main": [
                [
                    {
                        "node": "Try_Fallback",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Try_Fallback": {
            "main": [
                [
                    {
                        "node": "Primary_Groq",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Fallback_OpenRouter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Primary_Groq": {
            "main": [
                [
                    {
                        "node": "Format for Notion",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fallback_OpenRouter": {
            "main": [
                [
                    {
                        "node": "Format for Notion",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format for Notion": {
            "main": [
                [
                    {
                        "node": "Create Notion Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Notion Page": {
            "main": [
                [
                    {
                        "node": "Generate Statistics",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Statistics": {
            "main": [
                [
                    {
                        "node": "Slack Notification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "YouTube",
            "id": "tag-youtube"
        },
        {
            "name": "Channel Tracking",
            "id": "tag-channel"
        },
        {
            "name": "FreeAI",
            "id": "tag-free-ai"
        }
    ]
}